.transition-box{
    width: 200px;
    height: 200px;
    background-color: #44bd32;
    transition: width 2s , height 3s, transform 5s;
}
.transition-box:hover{
    width: 350px;
    height: 350px;
    transform: rotate(180deg);
    
   
}
h1{
    text-align: center;
}