.container,.inner{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}
.inner{
    background-color: wheat;
    transform:scale(0.5) rotate(45deg) translate(200px,200px);
    
}
.container{
    background-color: green;
    border: 1px solid yellowgreen;
    
    
    

}